/* Dropdown hover styles */
.dropdown-menu{
    display: block;
}
  
  .dropdown-menu:hover {
    display: block; /* Hide by default */
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border-radius: 4px;
    width: 600px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Ensure dropdown appears on top */
  }
  
  .dropdown-item {
    color: #333;
    padding: 10px 15px;
    display: block;
    text-decoration: none;
  }
  
  .dropdown-item:hover {
    background-color: #ff0000; /* Red background on hover */
    color: #fff; /* White text on hover */
  }
  